*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:Arial, sans-serif;
}
header{
background:red;
padding:50px;
color:white;
}
ul{
display:flex;
gap:20px;
list-style:none;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
}
.editor{
display:flex;
}
.editor{
display:flex;
justify-content:space-between;
align-items:center;
padding:50px;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}

ul{
display:flex;
gap:30px;
list-style:none;
}
.infrastructure{

display:flex;

align-items:center;

justify-content:space-between;

background:#2c2d3f;

color:white;

padding:60px;
}
.laptop{
  <footer>

<div>

<h2>Blogr</h2>

</div>

<div>

<h3>Product</h3>

<p>Overview</p>

<p>Pricing</p>

<p>Marketplace</p>

</div>

<div>

<h3>Company</h3>

<p>About</p>

<p>Team</p>

<p>Careers</p>

</div>

<div>

<h3>Connect</h3>

<p>Contact</p>

<p>Newsletter</p>

<p>LinkedIn</p>

</div>

</footer>

display:flex;

align-items:center;

justify-content:space-between;

padding:60px;
}
footer{

background:black;

color:white;

padding:60px;

display:flex;

justify-content:space-around;
}
@media(max-width:768px){

.editor,
.infrastructure,
.laptop,
footer{

flex-direction:column;

text-align:center;

}

}